<!html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<style>
  body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  img {
    max-width: 100%;
    padding: 0px 12px;
    border-left: 1px solid #2251B2;
    border-right: 1px solid #2251B2;
  }
  
</style>
<body>
  <div class="col-12 col-md-11 col-lg-9 m-auto text-center">
    <img src="./resume.png">
  </div>
</body>
</html>
